
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap-grid.css.map" />
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap-grid.min.css" />

</head>
<body>
        @RenderBody()

    
</body>
<script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="./lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="./lib/bootstrap/dist/js/bootstrap.js"></script>

</html>
